---
title: Gauge | ThoughtWorks
---
<!doctype html>
%html
  %head
    .show
      %script{:type=>"text/javascript"}
        var images = new Array()
        function preload() {
        for (i = 0; i < preload.arguments.length; i++) {
        images[i] = new Image()
        images[i].src = preload.arguments[i]
        }
        }

    %meta{:charset => "utf-8"}
      %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
        %title= current_resource.data.title || "Gauge | ThoughtWorks"
        %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
          %link
            = favicon_tag 'favicons/favicon.ico',:type => 'image/ico' ,:rel => 'shortcut icon'
            = favicon_tag 'favicons/apple-touch-icon.png',:type => 'image/ico' ,:rel => 'apple-touch-icon-precomposed'
            = stylesheet_link_tag "application"
            = javascript_include_tag  "frameworks/jquery-1.11.2"
            = javascript_include_tag  "application", :async => true
            %link{:href => "http://netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.css", :rel => "stylesheet"}
            %link{:href => "http://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.9.1/styles/default.min.css", :rel => "stylesheet"}
            %script{:src => "http://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.9.1/highlight.min.js"}
            :javascript
              hljs.initHighlightingOnLoad();

  %body{:class => page_classes}
    <!-- Google Tag Manager -->
    %noscript
      <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KKRKLF"
      height="0" width="0" style="display:none;visibility:hidden"></iframe>
    %script
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-KKRKLF');
    
    <!-- Google Tag Manager end -->

    <!-- Google Analytics -->
    %script
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-54838477-1', 'auto');
      ga('send', 'pageview');

    <!-- Google Analytics end -->
    %header.dark
      %nav.nav-wrapper
        - if is_home_page
          %a.logo{:href => "index.html"} 
            %img#thumb{:width => "150", :height=>"38", :alt => "Gauge logo", :src => asset_path(:images, 'Gauge_logo.svg')}
        - elsif is_blog_article
          %a.logo{:href => "../../../../../index.html"} 
            %img#thumb{:width => "150", :height=>"38", :alt => "Gauge logo", :src => asset_path(:images, 'Gauge_logo.svg')}
        - else
          %a.logo{:href => "../index.html"} 
            %img#thumb{:width => "150", :height=>"38",  :alt => "Gauge logo", :src => asset_path(:images, 'Gauge_logo.svg')}
        .beta
          %img{:alt => "BETA", :src => asset_path(:images, 'svg/icon_beta.svg')}
        %a.navigation-menu-button{:href => "javascript:void(0)"}
          %i.fa.fa-bars.fa-2x
        %ul.header-nav
          %li.nav-link.nav-drilldown
            = nav_bar_link 'Get Started <span class="expand"><i class="fa fa-plus"></i></span>', 'get-started/index.html'
            %ul.nav-drilldown-list
              %li
                = nav_bar_link 'Download', 'get-started/index.html'
              %li
                = nav_bar_link 'Plugins', 'plugins/index.html'
          %li.nav-link.nav-drilldown
            = nav_bar_link 'Contribute <span class="expand"><i class="fa fa-plus"></i></span>', 'contribute/index.html'
            %ul.nav-drilldown-list
              %li
                = nav_bar_link 'Contribute', 'contribute/index.html'
              %li
                = nav_bar_link 'CLA', 'cla/index.html'
          -#%li.nav-link
          -#  = nav_bar_link 'Blog', 'blog/index.html'
          %li.nav-link
            %a{:href => "http://getgauge.io/documentation/user/current/", :target => "_blank"} Documentation

          %li.nav-link-short
            %a{:alt =>"Gauge on Github", :href => "https://github.com/getgauge/gauge", :target => "_blank"}
              %i.fa.fa-github
    #content
      = yield
    %footer
      %section.community
        %h2 Join our community
        .community-list
          %a.join-group{:href => "https://groups.google.com/forum/#!forum/getgauge", :target => "_blank"} Join Us
          %a.contribute{:href => "https://gitter.im/getgauge/chat", :target => "_blank"} Talk to Us
          %a.contact{:href => "https://github.com/getgauge", :target => "_blank"} Watch Us
          %a.followus{:href => "https://twitter.com/getgauge", :target => "_blank"} Follow Us

      - if current_resource.data.credit
        %section.credit.clearfix
          .credit-container.clearfix
            %img{:alt => "cc-by", :src => asset_path(:images, 'cc-by.png')}
            %span.thanks
              %a{:href => "#{current_resource.data.credit_link}", :targer => "_blank"}
                =current_resource.data.credit

      %section.powered-by
        %a{:href => "http://www.thoughtworks.com/products"}
          %img{:alt => "Thoughtworks logo", :height=>"44", :src => asset_path(:images, 'thoughtworks_logo.svg')}
        .disclamer Gauge is an open source project, sponsored by ThoughtWorks Inc. under the GPL License, Version 3.0


        = javascript_include_tag  "mobileNav"
        = javascript_include_tag  "browser_support"
