---
title: Gauge | ThoughtWorks
---
<!doctype html>
%html
  %head
    %script{:type=>"text/javascript"}
      var images = new Array()
      function preload() {
      for (i = 0; i < preload.arguments.length; i++) {
      images[i] = new Image()
      images[i].src = preload.arguments[i]
      }
      }

    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
    %title= current_resource.data.title || "Gauge | ThoughtWorks"
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}

    %link{:href => "https://netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.css", :rel => "stylesheet"}
    %link{:href => "https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.9.1/styles/default.min.css", :rel => "stylesheet"}

    = favicon_tag 'favicons/favicon.ico',:type => 'image/ico' ,:rel => 'shortcut icon'
    = favicon_tag 'favicons/apple-touch-icon.png',:type => 'image/ico' ,:rel => 'apple-touch-icon-precomposed'
    = stylesheet_link_tag "application"
    = javascript_include_tag  "frameworks/jquery-1.11.2"
    = javascript_include_tag  "application", :async => true

  %body{:class => page_classes}
    %header.top
      .container
        - if is_home_page
          %a.logo{:href => "index.html"}
            %img#thumb{:width => "150", :height=>"38", :alt => "Gauge logo", :src => asset_path(:images, 'Gauge_logo.svg')}
        - else
          %a.logo{:href => "../index.html"}
            %img#thumb{:width => "150", :height=>"38",  :alt => "Gauge logo", :src => asset_path(:images, 'Gauge_logo.svg')}
        %span.beta
          Beta
        %nav.mainnav
          %ul.level0
            %li.dropdown
              = nav_bar_link 'Get Started', 'get-started.html', :class => "link-get-started"
              %ul.level1
                %li
                  = nav_bar_link 'Download', 'get-started.html', :class => "link-download"
                %li
                  = nav_bar_link 'Plugins', 'plugins.html', :class => "link-plugins"
            %li.dropdown
              = nav_bar_link 'Contribute', 'contribute.html', :class => "toplink-contribute"
              %ul.level1
                %li
                  = nav_bar_link 'Contribute', 'contribute.html', :class => "link-contribute"
                %li
                  = nav_bar_link 'CLA', 'cla.html', :class => "link-cla"
            %li.dropdown
              = link_to 'Documentation', 'https://docs.getgauge.io', :class => "link-documentation"

        %button.navbtn.menu.collapse
          %span
        %a{:alt =>"Gauge on Github", :href => "https://github.com/getgauge/gauge", :target => "_blank",  :class => "github-fork-ribbon", title: "Fork me on GitHub"}

    #content
      = yield
    %footer
      .join-community
        .container
          %h3 Join our community
          %ul
            %li
              %a.join-group{:href => "https://groups.google.com/forum/#!forum/getgauge", :target => "_blank"}
                %i.icon.join-us
                Join Us
            %li
              %a.contribute{:href => "https://gitter.im/getgauge/chat", :target => "_blank"}
                %i.icon.develop-with-us
                Talk to Us
            %li
              %a.contact{:href => "https://github.com/getgauge", :target => "_blank"}
                %i.icon.watch-us
                Watch Us
            %li
              %a.followus{:href => "https://twitter.com/getgauge", :target => "_blank"}
                %i.icon.follow-us
                Follow Us

      .powered-by
        .container
          %a{:href => "https://www.thoughtworks.com/products"}
            %img{:alt => "Thoughtworks logo", :height=>"44", :src => asset_path(:images, 'thoughtworks_logo.svg')}
          .disclamer Gauge is an open source project, sponsored by ThoughtWorks Inc. under the GPL License, Version 3.0

      - if current_resource.data.credit
        .credits
          / %img{:alt => "cc-by", :src => asset_path(:images, 'cc-by.png')}
          %a{:href => "#{current_resource.data.credit_link}", :targer => "_blank"}
            =current_resource.data.credit


        = javascript_include_tag  "browser_support"
    <!-- Google Tag Manager -->
    %noscript
      <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KKRKLF"
      height="0" width="0" style="display:none;visibility:hidden"></iframe>
    %script
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-KKRKLF');

    <!-- Google Tag Manager end -->

    <!-- Google Analytics -->
    %script
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-54838477-1', 'auto');
      ga('send', 'pageview');

    <!-- Google Analytics end -->