---
title: Gauge | ThoughtWorks
---
<!doctype html>
%html
  %head
    .show
      %script{:type=>"text/javascript"}
        var images = new Array()
        function preload() {
        for (i = 0; i < preload.arguments.length; i++) {
        images[i] = new Image()
        images[i].src = preload.arguments[i]
        }
        }

    %meta{:charset => "utf-8"}
      %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
        %title= current_resource.data.title || "Gauge | ThoughtWorks"
        %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
          %link{:href => "http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800", :rel => "stylesheet", :type => "text/css"}
            = favicon_tag 'favicons/favicon.ico', :rel => 'shortcut icon'
            = favicon_tag 'favicons/apple-touch-icon.png', :rel => 'apple-touch-icon-precomposed'
            = stylesheet_link_tag "application"
            = javascript_include_tag  "frameworks/jquery-1.11.2"
            = javascript_include_tag  "application", :async => true
            %link{:href => "http://netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.css", :rel => "stylesheet"}

  %body{:class => page_classes}
    %header.dark
      %nav.nav-wrapper
        - if is_home_page
          %a.logo{:href => "index.html"} 
            %img#thumb{:alt => "Gauge logo", :src => asset_path(:images, 'Gauge_logo.svg')}
        - elsif is_blog_article
          %a.logo{:href => "../../../../../index.html"} 
            %img#thumb{:alt => "Gauge logo", :src => asset_path(:images, 'Gauge_logo.svg')}
        - else
          %a.logo{:href => "../index.html"} 
            %img#thumb{:alt => "Gauge logo", :src => asset_path(:images, 'Gauge_logo.svg')}
        %a.navigation-menu-button{:href => "javascript:void(0)"}
          %i.fa.fa-bars.fa-2x
        %ul.header-nav
          %li.nav-link
            %a{:href => "http://getgauge.io/documentation/user/current/", :target => "_blank"} Documentation
          %li.nav-link
            = nav_bar_link 'Blog', 'blog/index.html'
          %li.nav-link.nav-drilldown
            = nav_bar_link 'Get Started <span class="expand"><i class="fa fa-plus"></i></span>', 'get-started/index.html'
            %ul.nav-drilldown-list
              %li
                = nav_bar_link 'Download', 'get-started/index.html'
              %li
                = nav_bar_link 'Plugins', 'plugins/index.html'
          %li.nav-link.nav-drilldown
            = nav_bar_link 'Contribute <span class="expand"><i class="fa fa-plus"></i></span>', 'contribute/index.html'
            %ul.nav-drilldown-list
              %li
                = nav_bar_link 'Contribute', 'contribute/index.html'
              %li
                = nav_bar_link 'CLA', 'cla/index.html'
          %li.nav-link-short
            %a{:href => "https://github.com/getgauge/gauge", :target => "_blank"}
              %i.fa.fa-github
    #content
      = yield
    %footer
      %section.community{"data-wow-delay" => ".1s"} 
        %h2 Join our community
        .community-list
          %a.join-group{:href => "https://groups.google.com/forum/#!forum/getgauge", :target => "_blank"} Join Us
          %a.contribute{:href => "https://gitter.im/getgauge/chat", :target => "_blank"} Talk to Us
          %a.contact{:href => "https://github.com/getgauge", :target => "_blank"} Watch Us
          %a.followus{:href => "https://twitter.com/getgauge", :target => "_blank"} Follow Us
      %section#powered-by
        %a{:href => "http://www.thoughtworks.com/products"}
          %img{:alt => "Thoughtworks logo", :src => asset_path(:images, 'twlogo-footer-black.png')}

      %p.disclamer Gauge is an open source project, sponsored by ThoughtWorks Inc. under the GPL License, Version 3.0
      = javascript_include_tag  "mobileNav"
