
.container
  - if !prev_page
    .blog-list-item.latest-blog
      - article = page_articles.first
      .post-summary
        %a{:href => "#{article.url}"}
          %figure.post-summary-image
            %img{:src => "https://images.unsplash.com/photo-1463003416389-296a1ad37ca0?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=1bed2a6743851633b655ae774c15ac07", :alt => article.title}
        .blog-details
          %span.author
            = article.data['author']
          %span.post-date
            = article.date.strftime('%-d %B %Y')
          %h2.post-title
            = link_to article.title, article

          %p.excerpt
            = article.data['summary']
          = link_to 'Read more...', article , class: 'readmore'
          .tags
            - article.tags.sort.each do |tag|
              = link_to tag, tag_path(tag)
  %ul.blog-posts
    - page_articles.each do |article|
      %li.blog-list-item
        .post-summary
          %a{:href => "#{article.url}"}
            %figure.post-summary-image 
              %img{:src => "https://images.unsplash.com/photo-1425913397330-cf8af2ff40a1?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=e5b417baa9f31c381b798fcdb92d1406", :alt => article.title}
          .blog-details              
            %span.author
              = article.data['author']
            %span.post-date
              = article.date.strftime('%-d %B %Y')
            %h2.post-title 
              = link_to article.title, article
            
            %p.excerpt
              = article.data['summary']
            = link_to 'Read more...', article , class: 'readmore'
            .tags
              - article.tags.sort.each do |tag|
                = link_to tag, tag_path(tag)
            / %span.comments-info
            /   %i.fa.fa-comment
            /   3 comments

  .pagination-section.clearfix
    - if prev_page
      %span.pagination
        %a{:href => "#{prev_page.url}"} <i class="fa fa-arrow-left"></i> Newer
    - else
      %span.disabled
        <i class="fa fa-arrow-left"></i>
        Newer

    - if next_page
      %span.pagination
        %a{:href => "#{next_page.url}"} Older <i class="fa fa-arrow-right"></i>
    - else
      %span.disabled
        Older
        <i class="fa fa-arrow-right"></i>
