.subheader
  %h1.page-label Blog


/ %ul
- page_articles.each do |current_post|
  %section.blog-block
    %h2= link_to current_post.title, current_post
    %span.author= current_post.data['author']
    %time= current_post.date.strftime('%b %e, %Y')
    %p.blog-summary
      = current_post.summary
    %p.tags
      - current_post.tags.sort.each do |tag|
        = link_to tag, "blog/index.html"
    %span.comments-info
      %i.fa.fa-comment
      3 comments 