---
pageable: true
---

.subheader
  %h1.page-label Blog

- page_articles.each do |article|
  %section.blog-block
    %h2= link_to article.title, article
    %span.author= article.data['author']
    %time= article.date.strftime('%b %e, %Y')
    / %p.blog-summary
    /   = article.summary
    %p.tags
      - article.tags.sort.each do |tag|
        = link_to tag, tag_path(tag)
    %span.comments-info
      %i.fa.fa-comment
      3 comments 

%ul
  %li{:class => prev_page ? "" : "disabled"}
    - if prev_page
      = link_to "Prev", prev_page.url
    - else
      %span Prev

  - (page_number - 3 .. page_number + 3).each do |i|
    - if i > 0 && i <= num_pages
      - if i != page_number
        = link_to "#{i}", "p#{i}.html"
      - else
        %span= i

  %li{:class => next_page ? "" : "disabled"}
    - if next_page
      = link_to "Next", next_page.url
    - else
      %span Next