.subheader
  .page-label Get Started

.page-content
  .tabs
    %ul.tabs-header
      %li.tab1{:id => "Mac"}
        %a{:href => "#tab1"}
          %i.fa.fa-apple
          Mac
      %li.tab2{:id => "Windows"}
        %a{:href => "#tab2"}
          %i.fa.fa-windows
          Windows
      %li.tab3{:id => "Linux"}
        %a{:href => "#tab3"}
          %i.fa.fa-linux
          Linux

    %ul.tabs-content
      %li#tab1
        %p
          There are multiple ways to get started with Gauge on a mac. You can read our
          %a{:href=>"http://getgauge.io/documentation/user/current/getting_started/README.html", :target => "_blank"} detailed documentation
          for other methods of installation. Here we show you a simple 4 step process to get you running with Gauge on a mac.
        .page-block 
          %h3 1. Install Gauge
          .instruction
            The table below allows you to download the pkg and follow
            %a{:href => "/documentation/user/current/plugins/installation.html", :target => "_blank"} these instructions
            to install Gauge offline. You will need to use this method if your setup or organisation does not allow
            %a{:href => "http://brew.sh/", :target => "_blank"}brew.
            Download the installer below based on your system configuration and follow these detailed instructions to install using the pkg.

          .download-section.clearfix
            .grid-4
              .instruction.title
                %strong pkg
                %i
                  (latest stable version:
                  %os= data.info.version
                  )
            .grid-4
              .download-bit
                %a.download.button{:href => "https://github.com/getgauge/gauge/releases/download/v#{data.info.version}/gauge-#{data.info.version}-darwin.x86.pkg"} 32 bit
                %span.sha
                  %strong SHA-1:
                  #{data.info.darwin86}
            .grid-4
              .download-bit
                %a.download.button{:href => "https://github.com/getgauge/gauge/releases/download/v#{data.info.version}/gauge-#{data.info.version}-darwin.x86_64.pkg"} 64 bit
                %span.sha
                  %strong SHA-1:
                  #{data.info.darwin86_64}


          .instruction We would recommend using brew for a very simple straightforward installation using this command.
          .screenshot
            .browser-container
              .browser-code
                %code ~ $ brew update
                %code ~ $ brew install gauge
        .page-block
          %h3 2. Install Core Plugins
          .instruction  Gauge has a rich plugin repository. Language runners, IDEs, reports are all plugins. However, since Gauge is a first class command line tool, you only *need* one plugin to get your Gauge tests running. That is your language runner plugin.
          .screenshot
            .browser-container
              .browser-code
              %code ~ $ gauge --install java
          .instruction
            You can read more about how to install other language runners and plugins
            %a{:href=>"/documentation/user/current/plugins/installation.html"} here.
        .page-block
          %h3 3. Test your installation
          .instruction  Run this command to check if all plugins are installed and are at the latest version
          .screenshot
            .browser-container
              .browser-code
                %code ~ $ gauge -v
                %pre
                  :preserve
                    Gauge version: 0.2.0

                    Plugins
                    -------
                    java(0.3.1)
        .page-block
          %h3 4. See Gauge working
          .instruction  Initialise a new Gauge project in the language of your choice. This creates a template with a sample specification for you. The example below shows how you would execute specs in java, but the same applies to all supported languages.
          .screenshot
            .browser-container
              .browser-code
              %code ~ $ gauge --init java
          .instruction Now run the sample specification to see how Gauge works.
          .screenshot
            .browser-container
              .browser-code
              %code ~ $ gauge specs/hello_world.spec
              %pre
                :preserve
                  Specifications: 	1 executed, 1 passed, 0 failed, 0 skipped
                  Scenarios: 	2 executed, 2 passed, 0 failed, 0 skipped
                  Total time taken: 15.015s
          .instruction You're all set. Start testing!

      %li#tab2.hide
        .page-block 
          %p There are two ways to install Gauge on windows. We will show you the process using the exe. However using chocolatey is also an option. Read more here on how to install Gauge using chocolatey.
          %h3 1. Install Gauge
          .instruction  Download the exe based on your system configuration and run it. Click your way through till you're asked to select your language. The next section explains what that means.

          .download-section.clearfix
            .grid-4
              .instruction.title
                %strong exe
                %i
                  (latest stable version:
                  %os= data.info.version
                  )
            .grid-4
              .download-bit
                %a.download.button{:href => "https://github.com/getgauge/gauge/releases/download/v#{data.info.version}/gauge-#{data.info.version}-windows.x86.exe"} 32 bit
                %span.sha
                  %strong SHA-1:
                  #{data.info.windows86}
            .grid-4
              .download-bit
                %a.download.button{:href => "https://github.com/getgauge/gauge/releases/download/v#{data.info.version}/gauge-#{data.info.version}-windows.x86_64.exe"} 64 bit
                %span.sha
                  %strong SHA-1:
                  #{data.info.windows86_64}

        .page-block 
          %h3 2. Install core language plugins
          .instruction  Gauge has a rich plugin repository. Language runners, IDEs, reports are all plugins. However, since Gauge is a first class command line tool, you only *need* one plugin to get your Gauge tests running. That is your language runner plugin.
          .instruction  The windows installer allows you to select the language plugin(s) as part of the the installation process. Just check the box you'd like. You can definitely select more than one language plugin to install. The screen below shows you how to do this.
          .img-container
            %img{:alt => "Select language", :src => asset_path(:images, 'install-lang-runner.jpg')}
          .instruction Work your way through all the steps of the installer.

          .page-block
          %h3 3. Test your installation
          .instruction  Run this command to check if all plugins are installed and are at the latest version
          .screenshot
            .browser-container
              .browser-code
                %code ~ $ gauge -v
                %pre
                  :preserve
                    Gauge version: 0.2.1

                    Plugins
                    -------
                    csharp(0.7.0)
        .page-block
          .page-block
          %h3 4. See Gauge working
          .instruction  Initialise a new Gauge project in the language of your choice. This creates a template with a sample specification for you. The example below shows how you would execute specs in C#, but the same applies to all supported languages.
          .screenshot
            .browser-container
              .browser-code
              %code ~ $ gauge --init csharp
          .instruction Now run the sample specification to see how Gauge works.
          .screenshot
            .browser-container
              .browser-code
              %code ~ $ gauge specs/hello_world.spec
              %pre
                :preserve
                  Specifications: 	1 executed, 1 passed, 0 failed, 0 skipped
                  Scenarios: 	2 executed, 2 passed, 0 failed, 0 skipped
                  Total time taken: 15.015s
          .instruction You're all set. Start testing!
      %li#tab3.hide
        .page-block
          %p Gauge can be installed on any flavour of Linux using the shell script. The following steps will guide you to a quick install on a linux box.
          %h3 1. Install Gauge
          .instruction  Install Gauge with by downloading the zip and execute the following command. Choose the archive file appropriate for your installation. For instance, if you are installing gauge version 0.2.1 for 64-bit x86 on Linux, the archive you want is called gauge-0.2.1-linux.x86_64.tar.gz.

          .download-section.clearfix
            .grid-4
              .instruction.title
                %strong zip
                %i
                  (latest stable version:
                  %os= data.info.version
                  )
            .grid-4
              .download-bit
                %a.download.button{:href => "https://github.com/getgauge/gauge/releases/download/v#{data.info.version}/gauge-#{data.info.version}-linux.x86.zip"} 32 bit
                %span.sha
                  %strong SHA-1:
                  #{data.info.linux86}
            .grid-4
              .download-bit
                %a.download.button{:href => "https://github.com/getgauge/gauge/releases/download/v#{data.info.version}/gauge-#{data.info.version}-linux.x86.zip"} 64 bit
                %span.sha
                  %strong SHA-1:
                  #{data.info.linux86_64}
          .screenshot
            .browser-container
              .browser-code
              %code ~ $ unzip gauge-$VERSION-$OS.$ARCH.zip
              %code ~ $ ./install.sh

        .page-block
          %h3 2. Install Core Plugins
          .instruction  Gauge has a rich plugin repository. Language runners, IDEs, reports are all plugins. However, since Gauge is a first class command line tool, you only *need* one plugin to get your Gauge tests running. That is your language runner plugin.
          .screenshot
            .browser-container
              .browser-code
              %code ~ $ gauge --install java
          .instruction
            You can read more about how to install other language runners and plugins
            %a{:href=>"/documentation/user/current/plugins/installation.html"} here.

        .page-block
          %h3 3. Test your installation
          .instruction  Run this command to check if all plugins are installed and are at the latest version
          .screenshot
            .browser-container
              .browser-code
                %code ~ $ gauge -v
                %pre
                  :preserve
                    Gauge version: 0.2.0

                    Plugins
                    -------
                    java(0.3.1)
        .page-block
          .page-block
          %h3 4. See Gauge working
          .instruction  Initialise a new Gauge project in the language of your choice. This creates a template with a sample specification for you. The example below shows how you would execute specs in java, but the same applies to all supported languages.
          .screenshot
            .browser-container
              .browser-code
              %code ~ $ gauge --init java
          .instruction Now run the sample specification to see how Gauge works.
          .screenshot
            .browser-container
              .browser-code
              %code ~ $ gauge specs/hello_world.spec
              %pre
                :preserve
                  Specifications: 	1 executed, 1 passed, 0 failed, 0 skipped
                  Scenarios: 	2 executed, 2 passed, 0 failed, 0 skipped
                  Total time taken: 15.015s
          .instruction You're all set. Start testing!
          = javascript_include_tag  "jquery.client"
          = javascript_include_tag  "platform"