.subheader
  .page-label Get Started

.page-content
  .tabs
    %ul.tabs-header
      %li.tab1{:id => "Mac"}
        %a{:href => "#tab1"}
          %i.fa.fa-apple
          Macintosh 
      %li.tab2{:id => "Windows"}
        %a{:href => "#tab2"}
          %i.fa.fa-windows
          Windows
      %li.tab3{:id => "Linux"}
        %a{:href => "#tab3"}
          %i.fa.fa-linux
          Linux

    %ul.tabs-content
      %li#tab1
        %p
          There are multiple ways to get started with Gauge on a mac. You can read our
          %a{:href=>"#"} detailed documentation
          for other methods of installation. Here we show you a simple 4 step process to get you running with Gauge on a mac.
        .page-block 
          %h3 1. Install Gauge
          .instruction
            The table below allows you to download the pkg and follow
            %a{:href => "/documentation/user/current/plugins/installation.html"} these instructions
            to install Gauge offline. You will need to use this method if your setup or organisation does not allow
            %a{:href => "http://brew.sh/"}brew.
            Download the installer below based on your system configuration and follow these detailed instructions to install using the pkg.

          .download-container.clearfix
            .download-section
              .grid-4
                .instruction
                  %strong pkg
                  (latest stable version:
                  %os= data.version.current
                  )
              .grid-4
                .download-bit
                  %a.download.button{:href => "#"} 32 bit
                  %span.sha
                    %strong SHA-1:
                    dfjksfjkdshfjksdhfjdsjfhskjfhsjkd
              .grid-4
                .download-bit
                  %a.download.button{:href => "#"} 64 bit
                  %span.sha
                    %strong SHA-1:
                    dfjksfjkdshfjksdhfjdsjfhskjfhsjkd


          .instruction We would recommend using brew for a very simple straightforward installation using this command.
          .screenshot
            .browser-container
              .browser-code
                %code ~ $ brew update
                %code ~ $ brew install gauge
        .page-block
          %h3 2. Install Core Plugins
          .instruction  Gauge has a rich plugin repository. Language runners, IDEs, reports are all plugins. However, since Gauge is a first class command line tool, you only *need* one plugin to get your Gauge tests running. That is your language runner plugin.
          .screenshot
            .browser-container
              .browser-code
              %code ~ $ gauge --install java
          .instruction
            You can read more about how to install other language runners and plugins
            %a{:href=>"/documentation/user/current/plugins/installation.html"} here.
        .page-block
          %h3 3. Test your installation
          .instruction  Run this command to check if all plugins are installed and are at the latest version
          .screenshot
            .browser-container
              .browser-code
                %code ~ $ gauge -v
                %pre
                  :preserve
                    Gauge version: 0.2.0

                    Plugins
                    -------
                    java(0.3.1)
        .page-block
          %h3 4. See Gauge working
          .instruction  Initialise a new Gauge project in the language of your choice. This creates a template with a sample specification for you. The example below shows how you would execute specs in java, but the same applies to all supported languages.
          .screenshot
            .browser-container
              .browser-code
              %code ~ $ gauge --init java
          .instruction Now run the sample specification to see how Gauge works.
          .screenshot
            .browser-container
              .browser-code
              %code ~ $ gauge specs/hello_world.spec
              %pre
                :preserve
                  Specifications: 	1 executed, 1 passed, 0 failed, 0 skipped
                  Scenarios: 	2 executed, 2 passed, 0 failed, 0 skipped
                  Total time taken: 15.015s
          .instruction You're all set. Start testing!

      %li#tab2.hide
        .page-block 
          %p There are
          %h3 1. Install Gauge and core plugins
          .instruction  Select your system's configuration to download
          %table.download-table
            %tr
              %td
                %os= data.version.current
                %b (Windows.exe)
              %td
                %a.download.button{:href => "https://github.com/getgauge/gauge/releases/download/v#{data.version.current}/gauge-#{data.version.current}-windows.x86.exe"}
                  %i.fa.fa-arrow-circle-o-down
                  32 bit
                .sha-label
                  %a.sha-link{:href => "javascript:void(0)"} 
                    Show SHA
                  .sha-tooltip sadassdassa
              %td 
                %a.download.button{:href => "https://github.com/getgauge/gauge/releases/download/v#{data.version.current}/gauge-#{data.version.current}-windows.x86_64.exe"}
                  %i.fa.fa-arrow-circle-o-down
                  64 bit
                .sha-label
                  %a.sha-link{:href => "javascript:void(0)"} 
                    Show SHA
                  .sha-tooltip sadassdassa
          .screenshot
            .browser-container
              .browser-code
              %code ~ $ gauge specs/hello_world.spec
              %pre
                :preserve
                  2 scenarios executed, 0 failed
                  1 specifications executed, 0 failed
        
        .page-block 
          %h3 2. Install core language plugins
          .instruction  Select the language runner plugin that you want. This is the language you want to write your tests in.
          .screenshot
            .browser-container
              .browser-code
              %code ~ $ gauge specs/hello_world.spec
              %pre
                :preserve
                  2 scenarios executed, 0 failed
                  1 specifications executed, 0 failed
          .instruction Other plugins can be installed via the command line. Look here for more information about this.
          .instruction This is what a completed installation looks like.
          .screenshot
            .browser-container
              .browser-code
              %code ~ $ gauge specs/hello_world.spec
              %pre
                :preserve
                  2 scenarios executed, 0 failed
                  1 specifications executed, 0 failed

        .page-block 
          %h3 3. Test your installation
          .instruction  Run this command(from the command line) to check if Gauge, and all plugins are installed correctly.
          .screenshot
            .browser-container
              .browser-code
              %code ~ $ gauge specs/hello_world.spec
              %pre
                :preserve
                  2 scenarios executed, 0 failed
                  1 specifications executed, 0 failed           

        .page-block 
          %h3 4. Execute Gauge specs
          .instruction  Execute the hello world specs so you know Gauge is working!
          .screenshot
            .browser-container
              .browser-code
              %code ~ $ gauge specs/hello_world.spec
              %pre
                :preserve
                  2 scenarios executed, 0 failed
                  1 specifications executed, 0 failed 

        
      %li#tab3.hide
        .page-block
          %p Gauge can be installed on any flavour of Linux using the shell script. The following steps will guide you to a quick install on a linux box.
          %h3 1. Install Gauge
          .instruction  Install Gauge with by downloading the zip and execute the following command. Choose the archive file appropriate for your installation. For instance, if you are installing gauge version 0.2.1 for 64-bit x86 on Linux, the archive you want is called gauge-0.2.1-linux.x86_64.tar.gz.
          %table.download-table
            %tr
              %td
                %os= data.version.current
                %b (Linix.zip)
              %td
                %a.download.button{:href => "https://github.com/getgauge/gauge/releases/download/v#{data.version.current}/gauge-#{data.version.current}-linux.x86.zip"}
                  %i.fa.fa-arrow-circle-o-down
                  32 bit
                .sha-label
                  %a.sha-link{:href => "javascript:void(0)"} 
                    Show SHA
                  .sha-tooltip sadassdassa 
              %td 
                %a.download.button{:href => "https://github.com/getgauge/gauge/releases/download/v#{data.version.current}/gauge-#{data.version.current}-linux.x86_64.zip"}
                  %i.fa.fa-arrow-circle-o-down
                  64 bit
                .sha-label
                  %a.sha-link{:href => "javascript:void(0)"} 
                    Show SHA
                  .sha-tooltip sadassdassa  
          .screenshot
            .browser-container
              .browser-code
              %code ~ $ unzip gauge-$VERSION-$OS.$ARCH.zip
              %code ~ $ ./install.sh

        .page-block
          %h3 2. Install Core Plugins
          .instruction  Gauge has a rich plugin repository. Language runners, IDEs, reports are all plugins. However, since Gauge is a first class command line tool, you only *need* one plugin to get your Gauge tests running. That is your language runner plugin.
          .screenshot
            .browser-container
              .browser-code
              %code ~ $ gauge --install java
          .instruction
            You can read more about how to install other language runners and plugins
            %a{:href=>"/documentation/user/current/plugins/installation.html"} here.

        .page-block
          %h3 3. Test your installation
          .instruction  Run this command to check if all plugins are installed and are at the latest version
          .screenshot
            .browser-container
              .browser-code
                %code ~ $ gauge -v
                %pre
                  :preserve
                    Gauge version: 0.2.0

                    Plugins
                    -------
                    java(0.3.1)
        .page-block
          .page-block
          %h3 4. See Gauge working
          .instruction  Initialise a new Gauge project in the language of your choice. This creates a template with a sample specification for you. The example below shows how you would execute specs in java, but the same applies to all supported languages.
          .screenshot
            .browser-container
              .browser-code
              %code ~ $ gauge --init java
          .instruction Now run the sample specification to see how Gauge works.
          .screenshot
            .browser-container
              .browser-code
              %code ~ $ gauge specs/hello_world.spec
              %pre
                :preserve
                  Specifications: 	1 executed, 1 passed, 0 failed, 0 skipped
                  Scenarios: 	2 executed, 2 passed, 0 failed, 0 skipped
                  Total time taken: 15.015s
          .instruction You're all set. Start testing!
          = javascript_include_tag  "jquery.client"
          = javascript_include_tag  "platform"