---
credit: Photo Credit - A C Moraes
credit_link: https://www.flickr.com/photos/acmoraes/8629549600/
---

.hero-banner
  %section.hero-banner-content
    .captions
      %h1
        Test Automation you'll 
        %span actually like
      %span.subquote
        Simple. Collaborative. Adaptable.
    .actions
      %a.btn.btn-primary{:href => "#downloads"} Download
      %a.btn.btn-default{:href => "contribute.html"} Contribute
    
    .features.qas
      %h2.question
        Why Gauge is better for
        %span.features-filter-selector-wrap
          %a.features-selector
            %span.features-selected-value Testers
            %i.fa.fa-sort-desc
          .features-filter-values-wrap.js-values-wrap
            .features-filter-values
              %span.features-filter-value{:data => {:value => "qas"}} Testers
              %span.features-filter-value{:data => {:value => "developers"}} Developers

      
      .feature-list.qas.animated.fadeIn
        .container-fluid
          .col-sm-6.col-md-6.col-lg-3.gauge-feature
            %figure
              = image_tag "svg/home/icon_syntax.svg", {:title => "Simple Syntax", :alt => "Simple Syntax"}
            %h3 Simple Syntax
            .feature-desc Write test specifications in Markdown. Gauge won't enforce a structure: write in a way that works for you. Generate readable documentation in the format of your choice.

          .col-sm-6.col-md-6.col-lg-3.gauge-feature
            %figure
              = image_tag "svg/home/icon_start_fast.svg", {:title => "Get Started Fast", :alt => "Get Started Fast"}  
            %h3 Get Started Fast
            .feature-desc Gauge is lightweight and easy to get started. Install and initialize with a single command.

          .col-sm-6.col-md-6.col-lg-3.gauge-feature
            %figure
              = image_tag "svg/home/icon_tools.svg", {:title => "Your Environment Your Tools", :alt => "Your Environment Your Tools"}          
            %h3 Your Environment Your Tools
            .feature-desc Automate in your favourite programming language and work in the IDE of your choice, across platforms. Gauge supports C#, Java, Ruby, IntelliJ and Visual Studio out-of-the-box.

          .col-sm-6.col-md-6.col-lg-3.gauge-feature
            %figure
              = image_tag "svg/home/icon_data_exec.svg", {:title => "YData Driven Execution", :alt => "Data Driven Execution"}            
            %h3 Data Driven Execution
            .feature-desc Easily test with large data sets, while keeping specifications highly readable. Gauge reads test data from text, CSV, and more.


      .feature-list.developers.animated.fadeIn
        .container-fluid
          .col-sm-6.col-md-6.col-lg-3.gauge-feature
            %figure
              = image_tag "svg/home/icon_refactor.svg", {:title => "Refactoring support", :alt => "Refactoring support"}          
            %h3 Refactoring support         
            .feature-desc Keep your test suite as DRY as your production code. Gauge’s robust refactoring propagates changes throughout the test suite, reducing duplication and evolving your tests with your application.

          .col-sm-6.col-md-6.col-lg-3.gauge-feature
            %figure
              = image_tag "svg/home/icon_hackable.svg", {:title => "Extensible and Hackable", :alt => "Extensible and Hackable"}          
            %h3 Extensible and Hackable
            .feature-desc Take advantage of Gauge's plugin architecture. Extend by adding support for IDEs, langauges, drivers, datasources, text execution events and more. Author plugins in Golang, in which Gauge itself is written, or any other language.

          .col-sm-6.col-md-6.col-lg-3.gauge-feature
            %figure
              = image_tag "svg/home/icon_tools.svg", {:title => "Your Environment Your Tools", :alt => "Your Environment Your Tools"}          
            %h3 Your Environment Your Tools
            .feature-desc Gauge supports Java, C#, Ruby, IntelliJ, Visual Studio out-of-the-box. Its first class command line support helps integrate seamlessly with your Continuous Delivery setup.

          .col-sm-6.col-md-6.col-lg-3.gauge-feature
            %figure
              = image_tag "svg/home/icon_parallel_exec.svg", {:title => "Easy Parallel Execution", :alt => "Easy Parallel Execution"}          
            %h3 Easy Parallel Execution
            .feature-desc Run your tests in parallel with a single command from the IDE or command line. It works exactly the same across all languages.

  #downloads
    .download-area
      .container
        %h2.sub-title Choose your OS & download
        %ul.tabs.os
          %li.mac{:rel => "tab1"}
            %figure.os-logo
              = image_tag "download/osx.png", {:title => "Osx", :alt => "Osx"}
              %figcaption.desc OSX
          %li.windows{:rel => "tab2"}
            %figure.os-logo
              = image_tag "download/windows.png", {:title => "windows", :alt => "windows"}
              %figcaption.desc Windows
          %li.linux{:rel => "tab3"}
            %figure.os-logo
              = image_tag "download/linux.png", {:title => "linux", :alt => "linux"}
              %figcaption.desc Linux
    .os-tab-content
      .container
        .tab_container
          %h3.tab-accordion_heading.mac{ :rel => "tab1"} OSX
          #tab1.tab_content.mac{ :rel=> "tab1"}
            .page-block
              %p.instruction
                Download the installer below based on your system configuration and just click your way through to install Gauge. 
              %span.download-title
                %strong pkg
                ( latest stable version:
                %os= data.info.version
                )
              .download-section
                .download-bit
                  %a.download{:href => "https://github.com/getgauge/gauge/releases/download/v#{data.info.version}/gauge-#{data.info.version}-darwin.x86.pkg"} 32 bit
                  %span.sha
                    %strong SHA-1:
                    #{data.info.darwin86}
                .download-bit
                  %a.download{:href => "https://github.com/getgauge/gauge/releases/download/v#{data.info.version}/gauge-#{data.info.version}-darwin.x86_64.pkg"} 64 bit
                  %span.sha
                    %strong SHA-1:
                    #{data.info.darwin86_64}

          %h3.tab-accordion_heading.windows{ :rel => "tab2"} Windows
          #tab2.tab_content.windows{ :rel => "tab2"}
            .page-block
              .instruction  Download the exe based on your system configuration and run it.

              %span.download-title
                %strong exe
                %i
                  (latest stable version:
                  %os= data.info.version
                  )
              .download-section
                .download-bit
                  %a.download.button{:href => "https://github.com/getgauge/gauge/releases/download/v#{data.info.version}/gauge-#{data.info.version}-windows.x86.exe"} 32 bit
                  %span.sha
                    %strong SHA-1:
                    #{data.info.windows86}
                .download-bit
                  %a.download.button{:href => "https://github.com/getgauge/gauge/releases/download/v#{data.info.version}/gauge-#{data.info.version}-windows.x86_64.exe"} 64 bit
                  %span.sha
                    %strong SHA-1:
                    #{data.info.windows86_64}

          %h3.tab-accordion_heading.linux{ :rel => "tab3"} Linux
          #tab3.tab_content.linux{ :rel => "tab3"}
            .page-block
              %p.instruction  Install Gauge by downloading the .zip below. Choose the archive file based on your system configuration.

              %span.download-title
                %strong zip
                %i
                  (latest stable version:
                  %os= data.info.version
                  )
              .download-section
                .download-bit
                  %a.download.button{:href => "https://github.com/getgauge/gauge/releases/download/v#{data.info.version}/gauge-#{data.info.version}-linux.x86.zip"} 32 bit
                  %span.sha
                    %strong SHA-1:
                    #{data.info.linux86}
                .download-bit
                  %a.download.button{:href => "https://github.com/getgauge/gauge/releases/download/v#{data.info.version}/gauge-#{data.info.version}-linux.x86_64.zip"} 64 bit
                  %span.sha
                    %strong SHA-1:
                    #{data.info.linux86_64}
              %p.instruction
                Then execute the following command:
              .code-box
                %code ~ $ unzip gauge-$VERSION-$OS.$ARCH.zip
                %code ~ $ ./install.sh

.visiongauge
  %h2.section-title Why we built Gauge
  .container
    .col-sm-12.col-md-6
      .why
        %figure
          = image_tag "svg/vision/icon_innovator.svg", {:title => "key innovator", :alt => "key innovator"}  
        ThoughtWorks, creator of Selenium and Twist, has been a
        %strong key innovator
        in the automated testing ecosystem for more than a decade. We love it and want to help solve the hardest problems people face in the testing and automation world.
    .col-sm-12.col-md-6
      .why
        %figure
          = image_tag "svg/vision/icon_pluggable.svg", {:title => "Pluggable Icons", :alt => "Pluggable Icons"}       
        We care about solving problems for all, not just those on a specific platform. Gauge is built with a plugin architecture so that you can use it with
        %strong any language, IDE
        and
        %strong ecosystem
        you want.

    .col-sm-12.col-md-6
      .why
        %figure
          = image_tag "svg/vision/iconos.svg", {:title => "Open Source", :alt => "Open Source"}         
        We are passionate about
        %strong open source
        and 
        %strong test automation.

    .col-sm-12.col-md-6
      .why
        %figure
          = image_tag "svg/vision/icon_choice.svg", {:title => "Support All Testers", :alt => "Support All Testers"}        
        We support
        %strong all testers
        regardless of automation experience.
      

.testimonials
  .container
    %h2.section-title What our users say
    %ul.rslides
      %li
        <i class="fa fa-quote-left"></i>
        After more playing
        %a{:href => "https://twitter.com/getgauge", :target => "_blank"}@getgauge
        is upgraded to awesome - loving the IntelliJ integration (Eclipse and VS/C# also supported, as is ruby).
        <i class="fa fa-quote-right"></i>
        %span.client_name Jez Humble
        %span.client via Twitter
      %li
        <i class="fa fa-quote-left"></i>
        Gauge has revolutionized our automated testing process, allowing us to write an automated testing framework that is simple to use, even for non-technical users. We have a complex Web UI that we run hundreds of tests on, across multiple browser permutations.
        <i class="fa fa-quote-right"></i>
        %span.client_name Chris Stanush
        %span.client Test Automation Engineer, Mattersight Corporation
      %li
        <i class="fa fa-quote-left"></i>
        Gauge is easy and lightweight to work with. We use Gauge for all our clients' automation needs, and we are extremely satisfied with how efficient the automation and deployment experience has been, even on the cloud.
        <i class="fa fa-quote-right"></i>
        .client_name Vivekanand Jha
        .client Director, Nineleaps Technology Solutions

  = javascript_include_tag  "jquery.client"
  = javascript_include_tag  "tabs"
